// app global css in Stylus form


body {
  background: #38385d !important;
}

.text-title {
  font-size: 26px;
  font-weight: 400
  letter-spacing: -1px
}

.container-title-component {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.q-card-bg {
  position: relative;
  background: #494977;
  border-radius: 15px;
  color: white !important;

  svg {
    vertical-align: top;
  }

  .q-card-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background: #5a5a90;
  }
}


.border-top {
  border-top: 1px #3d3d63 solid
}


.bg-withesmoke {
  background: #f7f7f7;
}

.container-tuner-block {
  margin-top: 50px;
}

.text-capo {
  padding: 8px;
  font-style: normal
  font-weight 500
  color: #262626
}

.text-description {
  font-size: 12px;
  font-weight: 500;
  font-style: italic
  color: #9797c4;
}

.title-item {
  font-size: 15px;
  padding: 4px;
  margin-bottom: 8px;
  font-weight: 400
}

.margin-bottom-page {
  margin-bottom: 40px;
}

.img-preview {
  margin-right: 10px
}


.container-chord {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.text-chord {
  font-size: 110px !important
  font-weight: 300
}

.text-chord-between {
  font-size: 40px
  font-weight: 300
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: flex-end;
}

.text-chord-between span {
  align-self: center;
}

.container-tuner {
  background: black;
  border-radius 5px
  margin: auto;
}

.container-red-left {
  border-bottom-left-radius 0px;
  border-top-left-radius 0px;
}

.container-red-right {
  border-bottom-right-radius 0px;
  border-top-right-radius 0px;
}

.container-red {
  background: #D94862;
}

.container-grey {
  background: #ededed;
}

.pos-bottom {
  position: absolute;
  width: 100%;
  bottom: 48px;
}


.item-interval {
  display: inline-block;
  align-self: flex-end;
}

.margin-auto {
  margin: auto;
}

.text-tuner-interval {
  font-size: 14px;
  font-weight: bold;
}

.container-cursor {
  opacity: 0.9;
  height: 70px;
  margin: auto;
  position: absolute;
  transition:all 1s ease;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
